.letter {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #5e41b7;
}

.letter__basic {
  width: 100%;
  max-width: 64vw;
  position: relative;
  margin: 10vh auto 0;
  text-align: center;
  color: white;
  padding: 0 2.5vw;
}

.letter__text {
  margin: 4vh auto;
  font-size: 1.8vh;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: -0.1vh;
}

.letter__highlight {
  font-size: 2vh;
  font-weight: 800;
}
