.container {
  width: 100%;
  height: 100vh;
  position: relative;

  padding: 0 120px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video {
  width: 100dvw;
  height: 100dvh;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  opacity: 0.2;
  filter: brightness(120%) contrast(120%);
}

.logo {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 443px;
}

.left,
.center,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left,
.right {
  gap: 36px;
}

.center {
  gap: 72px;
  flex-direction: column;
}

.left__bar,
.right__bar {
  width: 53px;
  height: 1px;

  background: white;
}

.bottom__bar {
  height: 106px;
  width: 1px;

  background: white;
}

.left__content,
.right__content {
  color: white;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 4.81px;
}
