.container {
  padding-top: 15.8vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18.5vh;
}

.image {
  width: 65vw;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    padding: 5vh 0;
    gap: 5vh;
  }

  .image {
    width: 85vw;
  }
}
