.container {
    width: 100%;
    height: auto;
    padding: .5%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    width: 5vw;
    height: auto;
}

.nav {
    display: flex;
    align-items: center;
    gap: 2.08vw;

    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    list-style: none;
}

.nav > li > a {
    color: rgba(255, 255, 255, 0.48);
    font-family: "Wanted Sans";
    font-size: 0.78vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.03vw;

    text-decoration: none;
    transition: color 0.2s;
}

.nav > li > a:hover {
    color: #FFF;
    font-weight: 600;
}